body {
    font-family:Monaco,Georgia,Times,serif;
}
*{
    list-style: none;
    margin: 0%;
    padding: 0%;
}
img{
    width: 100%;
    border: black 5px;
    background-color: black;
}
header{
    background-image: linear-gradient(darkolivegreen, greenyellow);
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

footer{
    background-image: linear-gradient(black 50%, darkolivegreen);
    color: azure;
    height: 50vh;
}
h3{
    background-color: darkolivegreen;
}
h2{
    background-color: darkolivegreen;
}
section {
    background-image: radial-gradient(greenyellow,darkolivegreen)  ;
}
