<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="../css/style.css">
    <script defer src="js/app.js"></script>
</head>
<body>
    <header>
        <a href="../index.html"><img src="https://placekitten.com/200/200" alt="inicio"></a>
        <p class="copy">copyright</p>
        <nav>
            <ul>
                <li class="menu"><a href="../views/ayuda.html">Ayuda</a></li>
                <li class="menu"><a href="../views/nosotros.html">Nosotros</a></li>
                <li class="menu"><a href="../views/contacto.html">Contacto</a></li>
                <li class="menu"><a href="../views/donadores.html">Donaciones</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Nuestra Historia</h2>
            <img src="https://placekitten.com/1890/400" alt="img" >
            <p><h3>articulo 1</h3></p>
            <article class="articleB">Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum qui posse omnium mediocritatem est cu. Modus argumentum ne qui tation efficiendi in eos. Ei mea falli legere efficiantur et tollit aliquip debitis mei. No deserunt mediocritatem mel. Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum qui posse omnium mediocritatem est cu. Modus argumentum ne qui tation</article>
            <h2>Nuestros objetivos</h2>
            <img src="https://placekitten.com/1890/400" alt="img">
            <p><h3>articulo 2</h3></p>
            <article class="articleB">Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum qui posse omnium mediocritatem est cu. Modus argumentum ne qui tation efficiendi in eos. Ei mea falli legere efficiantur et tollit aliquip debitis mei. No deserunt mediocritatem mel. Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum qui posse omnium mediocritatem est cu. Modus argumentum ne qui tation</article>
        </section>
    </main>
    <footer>
        <h3>Centro de ayuda Medioambiental</h3>
        <h4>redes sociales:</h4>
        <a href="http://facebook.com">facebook</a><br>
        <a href="http://twitter.com">twitter</a><br>
            <a href="http://intragram.com">intagram</a>
    </footer>
</body>
</html>